/* ---------------------
------------------------
CSS for listPostsView
------------------------
------------------------*/

header {
  background-image: url("../../public/img/alaska.jpg");
  background-repeat: no-repeat;
  height: 350px;
}

#logo {
display: block;
background-repeat: no-repeat;
width: 150px;
height: 150px;
border: 3px solid #A2D5F2;
border-radius: 50%;
}

#global {
  min-height: 100%;  /* Voir commentaire sur html et body plus haut */
  background: #333534;
  width: 70%;
  margin: auto;    /* Permet de centrer la div */
  text-align: justify;
  padding: 5px 20px;
}

#content {
  margin-bottom : 30px;
}

header h1 {
  text-align: center;
  color: #fff;
  padding-top: 100px;
}

.chapter-list {
  margin: 40px 20px;
}

.picture {
display: block;
position: relative;
}

.picture img {
  width: 100%;
  margin: 0 auto;
}

.resume {
  display: block;
  position: absolute;
  background-color: #fff;
  border: 3px solid #97ECC5;
  margin-top: 2%;
  margin-left: -50px;
}

.resume a {
  color: #97ECC5;
}

/* ---------------------
------------------------
CSS for PostsView
------------------------
------------------------*/

.news h2 {
    color: #97ECC5;
    font-size: 2em;
    text-align: center;
}

h4 {
  color: #403321;
  text-align: center;
  margin-bottom: 15px;
}

.news img {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 15px;
}

.news p {
    color: #000;
    margin : 20px 30px;
    text-align: left;
}

.news {
  display: block;
  padding: 30px 30px;
}

a, .date {
    text-decoration: none;
    color: #48BA95;
}

/* COMMENT'S FORM  */

form {
  display: block;
  border: 2px solid #365e75;
  max-width: 800px;
  padding: 30px 30px;
}

.addComment {
  display: block;
  width: 100%;
  margin: 30px 20px;
}

.addAuthor, .addYourOwnComment {
  display: flex;
  flex-direction: row;
  margin: 10px 20px;
}

#author, #comment {
border: 2px solid #48BA95;
width: 400px;
}

#author {
  height: 35px;
}

#comment {
  height: 100px;
  margin-bottom: 20px;
}

#btn-validation {
  display: block;
  margin: 0 auto;
  border: 2px solid #365e75;
  text-transform: uppercase;
  font-size: 1.5em;
  width: 250px;
  height: 40px;
  color: #365e75;
  background-color: #fff;
}

#btn-validation:hover {
  display: block;
  margin: 0 auto;
  border: 2px solid #365e75;
  text-transform: uppercase;
  font-size: 1.5em;
  width: 250px;
  height: 40px;
  color: #fff;
  background-color: #365e75;
}
/* COMMENTS */
.commentsPost {
  margin: 20px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.commentsAuthor {
  font-size: 16px;
  color: #365e75;
}

.commentsDate {
  font-size: 12px;
  color: #8f8f8f;
}

/* FOOTER */
footer {
  height: 100px;
  text-align: center;
  background-color: #365e75;
  color: #fff;
}

footer p {
  padding: 40px 20px;
}
