.newsletter {
  background-color: url('public/img/aurore-boreale-restons-en-contact.jpg');
  /*margin-top: 70px;
  margin-bottom: 70px;*/
}

.inscription {
  padding: 40px 20px;
  text-align: center;
}


.input-group-addon {
  margin-right: 10px;
  margin-left: 30px;
}

.subscribe {
  height: 38px;
  line-height: 7px;
}


.pager {
  display: flex;
  justify-content: space-between;
  margin: 50px 0px;
}

.commentsDate {
  font-size: 16px;
}

.commentsPost {
  display: flex;
  justify-content: space-between;
}

.commentsPost button {
  padding: 4px 4px;
  margin: 50px 10px;
  border-radius: 4px;
}

.comments-list h4 {
  text-align: center;
}

.comments-list {
  margin: 50px 0;
}

a, .btn {
  text-decoration: none;
}

a:hover {
  color: purple;
}

a:active {
  color: green;
}

h1, h2 {
	text-align: center;
	margin-bottom: 40px;
}

.btn-group {
	display: flex;
	justify-content: center;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 80px;
}


/**
 * NAVBAR SEARCH
 */

 .navbar-form-search {
   position: relative;
   .form-control {
     width: 250px;
   }
   .btn {
     border: 0;
     background: transparent;
     font-size: 18px;
     &:active,
     &:hover,
     &:focus {
       color: #000;
       outline: none;
       box-shadow: none;
     }
   }

   .search-form-container {
     text-align: right;
     position: absolute;
     width: 300px;
     overflow: hidden;
     background: #fff;
     right: 60px;
     top: 0;
     z-index: 9;
     transition: all .3s ease-in-out;
     &.hdn {
       width: 0;
     }

     .search-input-group {
       width: 300px;
     }
   }
 }
